apiVersion: appconnect.ibm.com/v1beta1
kind: IntegrationServer
metadata:
  name: {{NAME}}
  namespace: {{NAMESPACE}}
spec:
  license:
    accept: true
    license: {{ACE_LICENSE}}
    use: CloudPakForIntegrationNonProduction
  pod:
    containers:
      runtime:
        resources:
          limits:
            cpu: 300m
            memory: 350Mi
          requests:
            cpu: 300m
            memory: 300Mi
  adminServerSecure: true
  enableMetrics: true
  createDashboardUsers: true
  barURL: https://{{ARTIFACTORY_HOST}}:{{ARTIFACTORY_PORT}}/artifactory/{{ARTIFACTORY_REPO}}/{{ARTIFACTORY_BASE_PATH}}/{{BAR_FILE}}
  configurations: [ bar-auth-config {{CONFIGURATION_LIST}} ]
  router:
    timeout: 120s
  designerFlowsOperationMode: disabled
  service:
    endpointType: http
  version: {{ACE_VERSION}}
  replicas: {{REPLICAS}}
  logFormat: basic
